asciitree
atomicwrites
attrs
blosc
certifi
chardet
Click
Crimson
cycler
fasteners
HTSeq
idna
importlib-metadata
kiwisolver
matplotlib
monotonic
more-itertools
numcodecs
packaging
pandas
pluggy
py
pyparsing
pysam
pytest
python-dateutil
pytz
PyYAML
requests
scipy
sctools
six
urllib3
wcwidth
zarr
zipp
